openapi: 3.0.3
info:
  title: ExtremeCloud IQ API
  description: |-
    ExtremeCloud IQ™ API allows customers and partners to create solutions for the management, monitoring, and provisioning
    of any ExtremeCloud IQ™ environment.

    All related resources and documentation are available at [ExtremeCloud IQ Developer Portal](https://developer.extremecloudiq.com/).
    Please check [Get Started and Tutorial](https://developer.extremecloudiq.com/documentation/) to understand how to use the APIs.

    Get the [latest OpenAPI definition](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI/blob/main/xcloudiq-openapi.yaml)
    from [ExtremeCloud IQ OpenAPI GitHub repository](https://github.com/extremenetworks/ExtremeCloudIQ-OpenAPI).

    Please have a valid [ExtremeCloud IQ](https://extremecloudiq.com/) account before getting started.
    If you don't have one, please [register a new account](https://www.extremenetworks.com/cloud-networking/).
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.3.0.140
servers:
- url: https://api.extremecloudiq.com
  description: ExtremeCloud IQ REST API Server
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
tags:
- name: Authentication
  description: User login & logout
- name: Authorization
  description: API token and permissions
- name: Operation
  description: Long-Running Operations (LRO) management for asynchronous APIs
- name: Account
  description: ExtremeCloud IQ Account
- name: User
  description: Local and external user management in ExtremeCloud IQ account
- name: HIQ
  description: Hierarchical ExtremeCloud IQ
- name: Location
  description: Hierarchical locations and floor plan
- name: Device
  description: 'Supported device platforms: Cloud Engine, IQ Engine, WiNG, VOSS, EXOS...'
- name: Network Policy
  description: Unified configuration management for wireless and wired network devices
- name: Network Scorecard
  description: The network scorecard containing device, client, network, Wi-Fi, services health of the selected location.
- name: Client
  description: The clients associate to the devices of ExtremeCloud IQ
- name: Application
  description: Application management and application metrics
- name: Alert
  description: ExtremeCloud IQ generated alerts and events
- name: Log
  description: Access all kinds of logs in ExtremeCloud IQ
- name: Notification
  description: Push events/logs to users via Webhook, Email, SMS, etc.
- name: Configuration - Deployment
  description: Push configuration to devices
- name: Configuration - Basic
  description: VLAN Profile/DHCP Server/...
- name: Configuration - User Management
  description: User Group/End User/PCG/PPSK Classification
- name: Configuration - Policy
  description: SSID/User Profile/Classification Rule/CCG/Radio Profile/...
- name: Configuration - Network
  description: Tunnel Concentrator Service, Network service
- name: Configuration - Authentication
  description: AD/LDAP/RADIUS/CWP/...
- name: Configuration - Certificate
  description: Certificate
- name: Copilot - Connectivity Experience
  description: The Copilot Connectivity Experience API
- name: Copilot - Anomalies
  description: The Copilot Anomalies API
- name: PacketCaptures
  description: Packet capture sessions in ExtremeCloud IQ
- name: Essentials - ExtremeLocation
  description: The ExtremeLocation and Analytics API
- name: Misc
  description: Metadata - Country/...
- name: SDWAN
  description: The SDWAN API
- name: Thread
  description: Thread Networks in ExtremeCloud IQ
- name: AFC
  description: ExtremeCloud IQ AFC Feature.
- name: Universal Compute Platform
  description: The Universal Compute Platform (UCP) API
- name: Administration
  description: API Token Management and 3rd Party API Connections
- name: Dashboard
  description: Device and client health and status/dashboard
- name: D360
  description: Device 360
- name: Dashboard - Wireless Client Health
  description: Client dashboard
- name: Dashboard - Wireless Usage and Capacity
  description: Usage and capacity dashboard
- name: Dashboard - Wireless Device Health
  description: Device dashboard
- name: Dashboard - Wired Client Health
  description: Client dashboard
- name: Dashboard - Wired Device Health
  description: Device dashboard
- name: Dashboard - Wired Usage and Capacity
  description: Wired Usage and Capacity
- name: Geo-View
  description: Geo View
- name: UZ
  description: UZ Requests
paths:
  /login:
    post:
      tags:
      - Authentication
      summary: User login with username and password
      description: |-
        Get access token via username and password authentication.
        The client must present Bearer token to access the protected API endpoints.The Bearer token should be present in the "Authorization" request header field and use the "Bearer" HTTP authentication scheme to transmit the access token.
      operationId: login
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_login
      requestBody:
        description: Login request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqLoginRequest'
            examples:
              Normal_login:
                summary: Login with username and password
                description: User login with username/email and password
                value:
                  username: username@company.com
                  password: ChangeMe
        required: true
      responses:
        '200':
          description: Successfully login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqLoginResponse'
              examples:
                Login_successful:
                  summary: Login successful
                  description: Login successful response example.
                  value:
                    access_token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbkBjdXN0MDAxLmNvbSIsInVzZXJfaWQiOjEsInJvbGUiOiJBZG1pbmlzdHJhdG9yIiwiY3VzdG9tZXJfaWQiOjEsImN1c3RvbWVyX21vZGUiOjAsImhpcV9lbmFibGVkIjpmYWxzZSwib3duZXJfaWQiOjEwMiwib3JnX2lkIjowLCJkYXRhX2NlbnRlciI6IlVTX1dlc3QiLCJxdW90YSI6Ijc1MDA7dz0zNjAwIiwianRpIjoiMTcyZTExMWMwNDMzNDBkODkyYmViYTkyNmZlOTM0NmYiLCJpc3MiOiJleHRyZW1lY2xvdWRpcS5jb20iLCJpYXQiOjE2NDQ4NzcwNDgsImV4cCI6MTY0NDk2MzQ0OH0.kFRSUXLhg9800gSU2BQ4Gf7l_8eEhgpd0D90Ia6w0kw
                    token_type: Bearer
                    expires_in: 86400
        default:
          $ref: '#/components/responses/ErrorResponse'
  /logout:
    post:
      tags:
      - Authentication
      summary: User logout (Revoke the current access token)
      description: User logout, the current access token will be revoked and the following access with the same token will be immediately denied.
      operationId: logout
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_logout
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /auth/apitoken:
    post:
      tags:
      - Authorization
      summary: Generate new API token
      description: "Generate a new API token with given permissions and expiration time. \nThe available permission list can be found via 'GET /auth/permissions' endpoint."
      operationId: generateApiToken
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_generate_api_token
      requestBody:
        description: Generate API token request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqGenerateApiTokenRequest'
            examples:
              Generate_API_token:
                summary: Generate API token with specific permissions
                description: Generate API token with a single permission to read account info
                value:
                  description: Token for reading account info only
                  expire_time: 1604737598
                  permissions:
                  - account:r
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqGenerateApiTokenResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /auth/apitoken/info:
    get:
      tags:
      - Authorization
      summary: Get current API token details
      description: Introspect current API token and get detail information.
      operationId: getCurrentApiTokenInfo
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_api_token_details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqApiTokenInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /auth/apitoken/:validate:
    post:
      tags:
      - Authorization
      summary: Validate API token
      description: Validate JWT format API token.
      operationId: validateApiToken
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_validate_api_token
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              description: The API token to be validated
        required: true
      responses:
        '200':
          description: The API token is valid
        '401':
          description: The API token is invalid or revoked
        default:
          $ref: '#/components/responses/ErrorResponse'
  /auth/permissions:
    get:
      tags:
      - Authorization
      summary: Get permissions for current login user
      description: Get permissions for current login user, which are allowed for generating new API tokens.
      operationId: listPermissions
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_permissions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /auth/permissions/:check:
    post:
      tags:
      - Authorization
      summary: Check permissions
      description: Get required permissions for given HTTP request.
      operationId: checkPermissions
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_check_permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCheckPermissionRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqCheckPermissionResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /operations/{operationId}:
    get:
      tags:
      - Operation
      summary: Get Long-Running Operation (LRO) status and result
      description: |-
        Get the Long-Running Operation (LRO) status and result.
        The response will include either result or error if the operation is done.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_operation
      operationId: getOperation
      parameters:
      - name: operationId
        in: path
        description: The operation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqOperationObject'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Operation
      summary: Delete Long-Running Operation (LRO)
      description: The Long-Running Operation (LRO) can be deleted when the operation is done or in PENDING status.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_operation
      operationId: deleteOperation
      parameters:
      - name: operationId
        in: path
        description: The operation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /operations/{operationId}/:cancel:
    post:
      tags:
      - Operation
      summary: Cancel Long-Running Operation (LRO)
      description: |-
        When the cancelable is true in operation metadata the clients are allowed to send a cancel request to ask the backend to cancel the operation.
        The server makes its best effort to cancel the operation, but success is not guaranteed.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_cancel_operation
      operationId: cancelOperation
      parameters:
      - name: operationId
        in: path
        description: The operation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/home:
    get:
      tags:
      - Account
      summary: Get home ExtremeCloud IQ account info
      description: Get home ExtremeCloud IQ account info.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_basic_info
      operationId: getHomeAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqAccount'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/external:
    get:
      tags:
      - Account
      summary: List accessible external guest accounts
      description: List accessible external ExtremeCloud IQ accounts.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_external_accounts
      operationId: listExternalAccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XiqExternalAccount'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/:switch:
    post:
      tags:
      - Account
      summary: Switch to another ExtremeCloud IQ account
      description: Switch to external ExtremeCloud IQ account or switch back to home ExtremeCloud IQ account.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_switch_account
      operationId: switchAccount
      parameters:
      - name: id
        in: query
        description: The account ID to switch, switch back to home ExtremeCloud IQ account if not provide
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqLoginResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/viq:
    get:
      tags:
      - Account
      summary: Get VIQ Info
      description: Get account VIQ and license info.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_viq_info
      operationId: getViqInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqViq'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/viq/:backup:
    post:
      tags:
      - Account
      summary: Backup VIQ
      description: Backup VIQ in ExtremeCloud IQ.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_backup
      operationId: backupViq
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/viq/default-device-password:
    get:
      tags:
      - Account
      summary: Get the default device password in the account
      description: Get the default device password in the account.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_default_device_password
      operationId: getDefaultDevicePassword
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqDefaultDevicePassword'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Account
      summary: Update the default device password in the account
      description: Update the default device password in the global setting for accessing the console/shell of the devices.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_default_device_password
      operationId: updateDefaultDevicePassword
      requestBody:
        description: The new default device password
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /v1/account/viq/default-device-password:
    put:
      tags:
      - Account
      summary: Update the default device password with validation
      description: Update the default device password in the global setting for accessing the console/shell of the devices.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_default_device_password_with_validation
      operationId: updateDefaultDevicePasswordWithValidation
      requestBody:
        description: The new default device password
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/export:
    post:
      tags:
      - Account
      summary: Create VIQ export data
      description: Export VIQ reports.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_export_report
      operationId: viqExportReport
      parameters:
      - name: timeoutInSeconds
        in: query
        description: The maximum export duration
        required: false
        schema:
          type: integer
          format: int64
      - name: excludeDeviceFirmware
        in: query
        description: Whether exclude device firmwares from VIQ export file or not
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqViqExportReport'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/import:
    post:
      tags:
      - Account
      summary: Import VIQ details from a file
      description: Import Viq details.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_import
      operationId: viqImport
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  description: The import file to import VIQ data(.tar/.tar.gz)
                  format: binary
        required: true
      parameters:
      - name: timeoutInSeconds
        in: query
        description: The maximum import duration
        required: false
        schema:
          type: integer
          format: int64
      - name: resendUserNotifications
        in: query
        description: Resend Cloud PPSK/RADIUS password through email/SMS.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqViqImportReport'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/download:
    get:
      tags:
      - Account
      summary: Download VIQ reports or logs
      description: Download VIQ exports reports and export or import logs.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_reports_download
      operationId: downloadViqReports
      parameters:
      - name: reportName
        in: query
        description: The name of the report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/export-import-status:
    get:
      tags:
      - Account
      summary: Status of VIQ export/import operation
      description: Check the current VIQ export or import status.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_export_import_status
      operationId: exportImportStatus
      parameters:
      - name: reportName
        in: query
        description: The name of the report
        required: true
        schema:
          type: string
      - name: statusType
        in: query
        description: The operation type- export or import
        required: true
        schema:
          type: string
          items:
            $ref: '#/components/schemas/XiqViqStatusType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqViqExportImportResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/viq/:reset:
    post:
      tags:
      - Account
      summary: Resetting VIQ
      description: Reset VIQ in ExtremeCloud IQ.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_viq_reset
      operationId: resetViq
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/vhm/setting:
    get:
      tags:
      - Account
      summary: Get Account VHM Setting
      description: Get Flag status of CoPilot, SSH Aavailibility, Supplemental CLI, AP Out-of-the-box Wireless Onboarding.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_vhm_setting
      operationId: getVhmSetting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XiqVhmSettingInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/vhm/setting/{id}:
    put:
      tags:
      - Account
      summary: Update Account VHM Setting
      description: Enable/Disable CoPilot, SSH Aavailibility, Supplemental CLI, AP Out-of-the-box Wireless Onboarding.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_vhm_setting_by_id
      operationId: updateVhmSetting
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The payload of the update Account VHM Setting.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateVhmSettingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqVhmSetting'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /account/vhm/status:
    get:
      tags:
      - Account
      summary: Get Account VHM Status
      description: Check VHM Account status like vhm name, current run status.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_vhm_status
      operationId: getVhmStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqVhmStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /backup/history/grid:
    get:
      tags:
      - Account
      summary: Get Backup History Grid
      description: Get Backup History Grid to track and restore backed up database.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_backup_history_grid
      operationId: backupGrid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBackupGrid'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /backup/history/:restore:
    post:
      tags:
      - Account
      summary: Backup History Restore
      description: Restore Backup History in ExtremeCloud IQ.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_backup_restore
      operationId: backupRestore
      parameters:
      - name: backup_file
        in: query
        description: The backup file that needs to be restored.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /backup/history/delete:
    delete:
      tags:
      - Account
      summary: Backup History Delete
      description: Delete Backup History by backup files.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_backup_history_delete
      operationId: backupDelete
      parameters:
      - name: backup_files
        in: query
        description: The list of backup files (comma-separated) that need to be deleted.
        required: true
        schema:
          type: array
          items:
            type: string
          example:
          - 24.5.0.28_1719393103615
          - 24.5.0.28_1719333999741
        style: form
        explode: false
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /third/party/applications:
    get:
      tags:
      - Account
      summary: Get third party applications
      description: Get third party applications.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_third_party_applications_by_owner_id
      operationId: getThirdPartyApplications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XiqThirdPartyApplications'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /users:
    get:
      tags:
      - User
      summary: List all users
      description: List users with pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_user_list
      operationId: listUsers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - User
      summary: Create new user
      description: Create a new user to access.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_new_user
      operationId: createUser
      requestBody:
        description: Create new user request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateUserRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /users/me:
    get:
      tags:
      - User
      summary: Get current user info
      description: Get currently login user info.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_current_user
      operationId: getCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /users/{id}:
    get:
      tags:
      - User
      summary: Get user info by ID
      description: Get user info for a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_user
      operationId: getUser
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    patch:
      tags:
      - User
      summary: Update user info
      description: Updates user info for a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_user
      operationId: updateUser
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update user request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - User
      summary: Delete user by ID
      description: Delete a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_user
      operationId: deleteUser
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /users/external:
    get:
      tags:
      - User
      summary: List external access users
      description: List a page of external access users.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_external_user_list
      operationId: listExternalUsers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqExternalUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - User
      summary: Grant external access
      description: Grant external access to a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_grant_external_user
      operationId: grantExternalUser
      requestBody:
        description: Grant external user request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqGrantExternalUserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqExternalUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /users/external/{id}:
    get:
      tags:
      - User
      summary: Get external access info
      description: Get external access info for a specific external user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_external_user
      operationId: getExternalUser
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqExternalUser'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    patch:
      tags:
      - User
      summary: Update external access info
      description: Updates external access info for a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_external_user
      operationId: updateExternalUser
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update external user request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateExternalUserRequest'
            examples:
              Update_external_user_info.:
                description: Update external user info.
                value:
                  user_role: ADMINISTRATOR
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - User
      summary: Revoke external access
      description: Revoke external acccess for a specific user.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_revoke_external_user
      operationId: revokeExternalUser
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/status:
    get:
      tags:
      - HIQ
      summary: Get HIQ status
      description: Get Hierarchical ExtremeCloud IQ (HIQ) status.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_hiq_status
      operationId: getHiqStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHiqStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/context:
    get:
      tags:
      - HIQ
      summary: Get HIQ context
      description: |-
        Get the current effective HIQ context for reading or creating data in organizations.
        Appliable when HIQ is enabled.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_hiq_context
      operationId: getHiqContext
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqHiqContext'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - HIQ
      summary: Set HIQ context
      description: |-
        Set the current effective HIQ context for reading or creating data in organizations.
        Only HIQ Admin can performance this operation when HIQ is enabled.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_hiq_context
      operationId: setHiqContext
      requestBody:
        description: The new HIQ context
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqHiqContext'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/context/reading:
    get:
      tags:
      - HIQ
      summary: Get organizations for reading data
      description: |-
        Get organizations for reading data (Empty list means reading data from all organizations in the HIQ).
        Appliable when HIQ is enabled.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_reading_context
      operationId: getReadingOrgIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - HIQ
      summary: Set organizations for reading data
      description: |-
        Set organization for reading data (Empty list means reading data from all organizations in the HIQ).
        Only HIQ Admin can performance this operation.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_reading_context
      operationId: setReadingOrgIds
      requestBody:
        description: The organization IDs used for reading data
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/context/creating:
    get:
      tags:
      - HIQ
      summary: Get organization for creating new data
      description: |-
        Get organization for creating new data (Only one organization is active for creating new data).
        Appliable when HIQ is enabled.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_creating_context
      operationId: getCreatingOrgId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - HIQ
      summary: Set organization for creating new data
      description: |-
        Set organization for creating new data (Only one organization is active for creating new data).
        Only HIQ Admin can performance this operation when HIQ is enabled.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_creating_context
      operationId: setCreatingOrgId
      requestBody:
        description: The organization ID used for creating new data
        content:
          application/json:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/organizations:
    get:
      tags:
      - HIQ
      summary: List all organizations
      description: List all organizations in current HIQ (Available when HIQ is enabled).
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_all_organizations
      operationId: listOrganizations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XiqOrganization'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - HIQ
      summary: Create a new organization
      description: Create a new organization in current HIQ (Available when HIQ is enabled).
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_organization
      operationId: createOrganization
      requestBody:
        description: Create new organization request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqCreateOrganizationRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqOrganization'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/organizations/{id}:
    delete:
      tags:
      - HIQ
      summary: Delete an existing organization
      description: Delete an existing organization (Available when HIQ is enabled).
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_organization
      operationId: deleteOrganization
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: No Content
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /hiq/organizations/{id}/:rename:
    post:
      tags:
      - HIQ
      summary: Rename an existing organization
      description: Rename an existing organization (Available when HIQ is enabled).
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_rename_organization
      operationId: renameOrganization
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The new organization name
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '204':
          description: No Content
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations:
    post:
      tags:
      - Location
      summary: Create location
      description: Create a new location under the parent location.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_location
      operationId: createLocation
      requestBody:
        description: Create location request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsCreateLocationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/tree:
    get:
      tags:
      - Location
      summary: Get location tree
      description: Get location hierarchical tree.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_location_tree
      operationId: getLocationTree
      parameters:
      - name: parentId
        in: query
        description: The parent location ID, return root locations if parent is null
        required: false
        schema:
          type: integer
          format: int64
      - name: expandChildren
        in: query
        description: |-
          Whether to return the child locations recursively, default is true.
          Set it to false to improve performance when there are a lot of child locations.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/tree/devices:
    get:
      tags:
      - Location
      summary: Get devices on the location hierarchy
      description: Get devices on the location hierarchy with pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_location_tree_devices
      operationId: getLocationDevicesList
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: locationId
        in: query
        description: The location ID, or null for all locations.
        required: false
        schema:
          type: integer
          format: int64
      - name: expandChildren
        in: query
        description: |-
          Whether to return the child locations recursively, default is true.
          Set it to false to improve performance when there are a lot of child locations.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedClsLocationTreeDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/tree/maps:
    get:
      tags:
      - Location
      summary: Get maps on the location hierarchy
      description: Get maps on the location hierarchy with pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_location_tree_maps
      operationId: getLocationMapsList
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: locationId
        in: query
        description: The location ID, or null for all locations.
        required: false
        schema:
          type: integer
          format: int64
      - name: expandChildren
        in: query
        description: |-
          Whether to return the child locations recursively, default is true.
          Set it to false to improve performance when there are a lot of child locations.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedClsLocationTreeMap'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/floorplan:
    post:
      tags:
      - Location
      summary: Upload floorplan
      description: Upload the floorplan map for the VIQ.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_upload_floor_plan
      operationId: uploadFloorplan
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  description: "The floorplan image file to upload. \n For better performance, Extreme Networks recommends that the image file (.png .jpeg) be less than 10 MB."
                  format: binary
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/{id}:
    put:
      tags:
      - Location
      summary: Update location
      description: Update the location information with the specified location ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_location
      operationId: updateLocation
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update location request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsUpdateLocationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Location
      summary: Delete location by ID
      description: Delete the location for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_location
      operationId: deleteLocation
      parameters:
      - $ref: '#/components/parameters/id'
      - name: force_delete
        in: query
        description: Force deletion of this location and its descendants recursively
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/floor:
    get:
      tags:
      - Location
      summary: List floors
      description: List pages of floors by filter.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_floors
      operationId: getFloors
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: name
        in: query
        description: List floors by name (case insensitive)
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: List floors by IDs
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsFloor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Location
      summary: Create floor
      description: Create a new floor under the parent building.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_floor
      operationId: createFloor
      requestBody:
        description: Create floor request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsCreateFloorRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsFloor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/floor/{id}:
    get:
      tags:
      - Location
      summary: Get a floor by ID
      description: Get the floor for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_floor
      operationId: getFloor
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsFloor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Location
      summary: Update floor
      description: Update floor information with the floor ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_floor
      operationId: updateFloor
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update floor request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsUpdateFloorRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsFloor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Location
      summary: Delete floor by ID
      description: Delete the floor for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_floor
      operationId: deleteFloor
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/building:
    get:
      tags:
      - Location
      summary: List buildings
      description: List pages of buildings by filter.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_buildings
      operationId: getBuildings
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: name
        in: query
        description: List buildings by name (case insensitive)
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: List buildings by IDs
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsBuilding'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Location
      summary: Create building
      description: Create a new building under the parent location.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_building
      operationId: createBuilding
      requestBody:
        description: Create building request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsCreateBuildingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsBuilding'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/building/{id}:
    get:
      tags:
      - Location
      summary: Get a building by ID
      description: Get the building for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_building
      operationId: getBuilding
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsBuilding'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Location
      summary: Update building
      description: Update the building information with the building ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_building
      operationId: updateBuilding
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update building request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsUpdateBuildingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsBuilding'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Location
      summary: Delete building by ID
      description: Delete the building for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_building
      operationId: deleteBuilding
      parameters:
      - $ref: '#/components/parameters/id'
      - name: force_delete
        in: query
        description: Force deletion of this building and its descendants recursively
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/site:
    get:
      tags:
      - Location
      summary: List sites
      description: List pages of sites by filter.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_sites
      operationId: getSites
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - name: name
        in: query
        description: List sites by name (case insensitive)
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: List sites by IDs
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsSite'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Location
      summary: Create site
      description: Create a new site under the GENERIC folder.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_site
      operationId: createSite
      requestBody:
        description: Create site request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsCreateSiteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsSite'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/site/{id}:
    get:
      tags:
      - Location
      summary: Get site by ID
      description: Get the site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_site
      operationId: getSite
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsSite'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Location
      summary: Update site by ID
      description: Update the site information with the site ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_site
      operationId: updateSite
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update site request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsUpdateSiteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsSite'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Location
      summary: Delete site by ID
      description: Delete the site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_site
      operationId: deleteSite
      parameters:
      - $ref: '#/components/parameters/id'
      - name: force_delete
        in: query
        description: Force deletion of this site and its descendants recursively
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/wall/type:
    get:
      tags:
      - Location
      summary: Get a wall types
      description: Retrieve the list of wall types, including both predefined and custom ones.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_walls_type
      operationId: getWallType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsWallType'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Location
      summary: Create a wall type
      description: Create a custom wall type.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_wall_type
      operationId: createWallType
      responses:
        '200':
          description: Create wall type request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsCreateWallTypeRequest'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/wall/type/{id}:
    put:
      tags:
      - Location
      summary: Update a wall type
      description: Update the custom wall type with the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_wall_type
      operationId: updateWallType
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: Update wall type request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClsUpdateWallTypeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClsWallType'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Location
      summary: Delete a wall type
      description: Delete the custom wall type for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_wall_type
      operationId: deleteWallType
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /locations/wall/type/references/{id}:
    get:
      tags:
      - Location
      summary: Find references of a wall type
      description: Find all floors a/o sites referencing a wall type by its ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_find_wall_type_reference
      operationId: findWallTypeReference
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClsWallTypeReference'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices:
    get:
      tags:
      - Device
      summary: '[LRO] List devices'
      description: List devices with filters and pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_device_list
      operationId: listDevices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/locationIds'
      - name: locationId
        in: query
        description: Location Id
        required: false
        schema:
          type: integer
          format: int64
      - name: connected
        in: query
        description: The device connect status
        required: false
        schema:
          type: boolean
      - name: adminStates
        in: query
        description: The device admin states
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqDeviceAdminState'
      - name: macAddresses
        in: query
        description: The device mac addresses
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sns
        in: query
        description: The device serial numbers
        required: false
        schema:
          type: array
          items:
            type: string
      - name: hostnames
        in: query
        description: The device host names
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sortField
        in: query
        description: The sort field
        required: false
        schema:
          $ref: '#/components/schemas/XiqDeviceSortField'
      - $ref: '#/components/parameters/order'
      - name: views
        in: query
        description: The views to return device fields (Check fields for each view at XiqDeviceView schema)
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqDeviceView'
      - name: fields
        in: query
        description: The device fields to return
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqDeviceField'
      - name: nullField
        in: query
        description: The device empty field, only returns the selected field that is null
        required: false
        schema:
          $ref: '#/components/schemas/XiqDeviceNullField'
      - $ref: '#/components/parameters/async'
      - name: configMismatch
        in: query
        description: Config audit status(MATCHED(false) or UNMATCHED(true))
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:onboard:
    post:
      tags:
      - Device
      summary: Onboard Devices
      description: |-
        Onboard devices for all devices, such as Extreme/Aerohive, EXOS, VOSS, WiNG, Dell, and Digital Twin.
        This is asynchronized operation to support massive device onboarding.
      operationId: onboardDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqOnboardDeviceRequest'
        required: true
      responses:
        '202':
          description: Accepted
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:advanced-onboard:
    post:
      tags:
      - Device
      summary: '[LRO] Advanced Onboard Devices'
      description: Advanced onboard devices for all devices, such as Extreme/Aerohive, EXOS, VOSS, WiNG, and Dell. Advanced onboard devices will allow the user to set the device hostname,  attach the device location, associate network policy, etc. in a single API request. To avoid API timeout when onboarding a large number of devices, please make sure to  enable async mode (set async=true in query parameter) and use long-running operation  API to query the result.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_advanced_onboard_devices
      operationId: advancedOnboardDevices
      parameters:
      - $ref: '#/components/parameters/async'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAdvancedOnboardDeviceRequest'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqAdvancedOnboardDeviceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:manage:
    post:
      tags:
      - Device
      summary: Change status to Managed
      description: Change device management status to Managed for the target devices.
      operationId: changeStatusToManage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:unmanage:
    post:
      tags:
      - Device
      summary: Change status to Unmanaged
      description: Change device management status to Unmanaged for the target devices.
      operationId: changeStatusToUnmanage
      requestBody:
        description: The device filter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:cli:
    post:
      tags:
      - Device
      summary: '[LRO] Send CLI to devices'
      description: Send CLI commands to the target devices. This API can be run at async mode, please follow the Long-Running Operation (LRO) guide to track the progress and the result.
      operationId: sendCliToDevices
      parameters:
      - $ref: '#/components/parameters/async'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqSendCliRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqSendCliResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:reboot:
    post:
      tags:
      - Device
      summary: Reboot devices
      description: Reboot the target devices.
      operationId: rebootDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/:delete:
    post:
      tags:
      - Device
      summary: Delete devices
      description: Bulk delete the devices matching the filter criteria.
      operationId: deleteDevices
      parameters:
      - name: force_delete
        in: query
        description: Force deletion of devices
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/location/:query:
    post:
      tags:
      - Device
      summary: Query location for multiple devices
      description: Query the location for the target devices.
      operationId: queryDevicesLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/XiqDeviceLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/location/:assign:
    post:
      tags:
      - Device
      summary: Assign location to multiple devices
      description: Assign the location to the target devices.
      operationId: assignDevicesLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAssignDevicesLocationRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/location/:revoke:
    post:
      tags:
      - Device
      summary: Revoke location for multiple devices
      description: Revoke the location from the target devices.
      operationId: revokeDevicesLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/network-policy/:query:
    post:
      tags:
      - Device
      summary: Query network policy for multiple devices
      description: Query the network policy for the target devices.
      operationId: queryDevicesNetworkPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/XiqNetworkPolicy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/radius-proxy/:assign:
    put:
      tags:
      - Device
      summary: Assign RADIUS proxy to devices
      description: Assign a RADIUS proxy to multiple devices.
      operationId: assignDevicesRadiusProxy
      parameters:
      - name: ids
        in: query
        description: The device IDs
        required: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: radiusProxyId
        in: query
        description: The RADIUS proxy ID to assign
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/network-policy/:assign:
    post:
      tags:
      - Device
      summary: Assign network policy to multiple devices
      description: Assign the network policy to the target devices.
      operationId: assignDevicesNetworkPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAssignDevicesNetworkPolicyRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/network-policy/:revoke:
    post:
      tags:
      - Device
      summary: Revoke network policy for multiple devices
      description: Revoke the network policy from the target devices.
      operationId: revokeDevicesNetworkPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceFilter'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/network-policy/{policyId}:
    get:
      tags:
      - Device
      summary: List assigned devices for network policy
      description: List assigned devices for the network policy with pagination.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_assigned_devices_for_network_policy
      operationId: listDevicesByNetworkPolicy
      parameters:
      - name: policyId
        in: path
        description: The network policy ID
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedXiqDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/country-code/:assign:
    post:
      tags:
      - Device
      summary: Assign a country code to devices
      description: Assign the country code to one or more devices.
      operationId: assignDevicesCountryCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqAssignDevicesCountryCodeRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/os/:change:
    post:
      tags:
      - Device
      summary: Change device OS mode
      description: Change OS mode for AP or Switch.
      operationId: changeDevicesOsMode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqChangeDevicesOsModeRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/ibeacon:
    put:
      tags:
      - Device
      summary: Change iBeacon settings for devices
      description: Update the existing or create new iBeacon settings for multiple devices.
      externalDocs:
        description: API Reference
        url: http://extremecloudiq.com/api-docs/api-reference.html#_change_devices_ibeacon
      operationId: changeDevicesIbeacon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqChangeDevicesIbeaconRequest'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/stats:
    get:
      tags:
      - Device
      summary: Get device stats
      description: Get device stats, such as total device count, managed device count, connected device count, etc.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_device_status_summary
      operationId: getDeviceStats
      parameters:
      - name: locationId
        in: query
        description: The location ID
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqDeviceStats'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}:
    get:
      tags:
      - Device
      summary: Get device info for a specific device
      description: Get device info for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_device_details_for_one_device
      operationId: getDevice
      parameters:
      - $ref: '#/components/parameters/id'
      - name: views
        in: query
        description: The views to return device fields (Check details at XiqDeviceView schema)
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqDeviceView'
      - name: fields
        in: query
        description: The device fields to return
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/XiqDeviceField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqDevice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Device
      summary: Delete a device
      description: Delete a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_device
      operationId: deleteDevice
      parameters:
      - $ref: '#/components/parameters/id'
      - name: force_delete
        in: query
        description: Force deletion of device
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/:manage:
    post:
      tags:
      - Device
      summary: Change admin state to 'Managed' for a device
      description: Change device management status to Managed for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_change_status_to_managed_for_one_device
      operationId: changeDeviceStatusToManage
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/:unmanage:
    post:
      tags:
      - Device
      summary: Change admin state to 'Unmanaged' for a device
      description: Change device admin state to 'Unmanaged' for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_change_status_to_unmanaged_for_one_device
      operationId: changeDeviceStatusToUnmanage
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/:cli:
    post:
      tags:
      - Device
      summary: Send CLI to a device
      description: Send CLI commands to a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_send_cli_to_one_device
      operationId: sendCliToDevice
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The one or multiple CLIs to send
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqSendCliResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/:reboot:
    post:
      tags:
      - Device
      summary: Reboot a device
      description: Reboot a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_reboot_one_device
      operationId: rebootDevice
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/:reset:
    post:
      tags:
      - Device
      summary: '[LRO] Reset a device to factory default'
      description: Reset a device to factory default settings.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_reset_device_for_once_device
      operationId: resetDevice
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/async'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/hostname:
    put:
      tags:
      - Device
      summary: Change hostname for a device
      description: Change hostname for a specific device.
      operationId: changeHostname
      parameters:
      - $ref: '#/components/parameters/id'
      - name: hostname
        in: query
        description: The new hostname
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/description:
    put:
      tags:
      - Device
      summary: Change description for a device
      description: Change description for a specific device.
      operationId: changeDeviceDescription
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        description: The device description
        content:
          text/plain:
            schema:
              maxLength: 64
              minLength: 1
              type: string
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/location:
    get:
      tags:
      - Device
      summary: Get location for a device
      description: Get the location info for a specific device.
      operationId: getDeviceLocation
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqDeviceLocation'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Device
      summary: Assign location to a device
      description: Assign a location to a specific device with extra map and geographical properties.
      operationId: assignDeviceLocation
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceLocationAssignment'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Device
      summary: Revoke location for a device
      description: Revoke the assigned location for a specific device.
      operationId: revokeDeviceLocation
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/network-policy:
    get:
      tags:
      - Device
      summary: Get network policy for a device
      description: Get the network policy for a specific device.
      operationId: getDeviceNetworkPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiqNetworkPolicy'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Device
      summary: Assign network policy to a device
      description: Assign a network policy to a specific device.
      operationId: assignDeviceNetworkPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      - name: networkPolicyId
        in: query
        description: The network policy ID to assign
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Device
      summary: Revoke network policy for a device
      description: Revoke the assigned network policy for a specific device.
      operationId: revokeDeviceNetworkPolicy
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/ssid/:override:
    post:
      tags:
      - Device
      summary: Override SSID for a device
      description: Override SSID broadcast name/passphrase for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_device_level_ssid_override
      operationId: overrideDeviceLevelSsid
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqDeviceLevelSsid'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/ssid/status:
    get:
      tags:
      - Device
      summary: Get SSID status for a device
      description: Get the SSIDs status on each wifi interface for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_device_level_ssid_status_on_each_wifi_interface
      operationId: getDeviceLevelSsidStatus
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/XiqDeviceLevelSsidStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/ssid/status/:change:
    post:
      tags:
      - Device
      summary: Enable or disable SSID for a device
      description: Enable or disable SSIDs on the given wifi interfaces for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_change_the_device_level_ssid_status_on_each_wifi_interface
      operationId: changeDeviceLevelSsidStatus
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XiqUpdateDeviceLevelSsidStatus'
        required: true
      responses:
        '200':
          description: OK
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BearerAuth: []
  /devices/{id}/alarms:
    get:
      tags:
      - Device
      summary: List alarms for a device
      description: List alarms for a specific device.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_device_alarms_for_one_device
      operationId: listDeviceAlarm
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
[...]
